/* general */

a.read-more { text-transform: uppercase; color: #f13543; }
a.read-more:hover { text-decoration: underline; }

a { font-family: futura-pt, sans-serif; color: #0a0a0a; text-decoration: none; }
a:hover { color: #f13543; }

h1, h2, h3, h4, h5, h6 {
    font-family: futura-pt, sans-serif;
}

a.tag {
    font-family: futura-pt, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.main-title {
    text-align: center;
    margin: 90px 0px;
    font-size: 23px;
}

.comments, .date {
    font-family: futura-pt, sans-serif;
    font-size: 12px;
    color: #838383;
    text-transform: uppercase;
}

.author {
    font-family: futura-pt, sans-serif;
    font-size: 12px;
    margin-top: 13px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

hr {
    margin: 50px 0px;
    border-top: 1px solid #eeeeee;
}

.date-comments span { margin-right: 20px; }
.small-title { font-size: 14px; }
.margin-bottom-10 { margin-bottom: 10px; }

.title, p { font-family: "LibreBaskerville"; }

p { font-size: 12px; }

.big-button-wrapper { text-align: center; margin: 55px 0px; }

.big-button-wrapper .button {
    padding: 20px 60px;
    border: 1px solid #0a0a0a;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
}

.big-button-wrapper .button:hover { border: 1px solid #f13543; }

/* navigation */

header {
    border-bottom: 1px solid #eeeeee;
}

header .logo-box {
    display: flex;
    align-items: center;
}

header .wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .pipe {
    display: inline-block;
    margin: 0px 20px;
    height: 20px;
    border: 0.5px solid #eeeeee;
}

header nav .social {
    margin-right: 20px;
}

header nav .social:last-of-type {
    margin-right: 0px;
}

header nav .social:hover i {
    color: #555;
}

header nav {
    display: flex;
    align-items: center;
    height: 100%;
}

header nav > ul {
    display: flex;
    margin-right: 20px;
    height: 100%;
}

header nav > ul > li {
    margin-right: 40px;
    display: flex;
    align-items: center;
    position: relative;
}

header nav > ul > li:last-of-type {
    margin-right: 0px;
}

header nav > ul > li > .subnav {
    display: none;
    position: absolute;
    top: 77px;
    width: 200px;
    flex-direction: column;
    z-index: 3;
    background-color: #fff;
    padding: 30px;
    border-top: 3px solid #f13544;
    border-radius: 3px;
    box-shadow: 0px 3px 5px 1px #ddd;
}

header nav > ul > li:hover .subnav {
    display: flex;
}

header nav > ul > li > .subnav > .subnav-item {
    margin-bottom: 25px;
    position: relative;
}

header nav > ul > li > .subnav > .subnav-item > .sub-subnav {
    margin-top: 25px;
    padding-left: 10px;
}

header nav > ul > li > .subnav > .subnav-item > .sub-subnav > .sub-subnav-item {
    display: block;
    margin-bottom: 25px;
}

header nav > ul > li > .subnav > .subnav-item > .sub-subnav > .sub-subnav-item:last-child {
    margin-bottom: 0;
}

header nav > ul > li > .subnav .subnav-item a {
    display: flex;
    justify-content: space-between;
}

header nav > ul > li > .subnav > .subnav-item:last-child {
    margin-bottom: 0px;
}

header nav > ul > li a {
    font-family: futura-pt, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 100%;
}

header nav > ul > li a i {
    margin-left: 4px;
}

header nav .search-box {
    display: none;
}

header nav button.search-button {
    padding: 0;
    background-color: #fff;
    color: #000;
}

/* logo */

.logo {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
}

.logo .logo-red {
    color: #f03643;
}

/* content */

.content {
    margin: auto;
    width: 1140px;
}

.content-750 {
    margin: auto;
    width: 750px;
}

.content-1140 {
    margin: auto;
    width: 1140px;; 
}

/* slideshow */

.posts-slideshow .slides {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: center;
    overflow: hidden;
    margin-top: 35px;
}

.posts-slideshow article {
    flex-shrink: 0;
    margin: 0px 20px;
}

.posts-slideshow .slideshow-button {
    position: absolute;
    top: 390px;
    z-index: 2;
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 20px;
    color: #fff;
    box-shadow: 0px 0px 3px 1px #000;
    text-shadow: 3px 1px #000;
    cursor: pointer;
}

.posts-slideshow .slideshow-button .button-icon {
    position: relative;
    top: 5px;
    left: 5px;
}

#slideshow-button-left {
    left: 45px;
}

#slideshow-button-right {
    right: 45px;
}

.section-title {
    color: #0a0a0a;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: 19px;
    margin: 30px 0px;
    text-transform: uppercase;
}

/* article block with image background */

article.big {
    position: relative;
}

article.big .image {
    position: relative;
    z-index: 1;
}

article.big .text {
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 2;
    max-width: 80%;
}

article.big .text .title {
    color: #feffff;
    display: block;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

article.big .text .tag {
    background-color: #ffffff;
    color: #0a0a0a;
    padding: 7px 12px;
    border-radius: 3px;
    font-family: futura-pt, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

article.big .text .other {
    font-family: futura-pt, sans-serif;
    color: #cecece;
    font-size: 12px;
    margin-right: 15px;
    text-transform: uppercase;
}

article p {
    font-size: 14px;
    line-height: 20px;
    width: 360px;
}

article.big .author {
    color: #838383;
    margin-right: 30px;
}

/* trending posts */

.image-with-number {
    padding-right: 12.5px;
}

.image-with-number .number {
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    background-color: #f13446;
    border-radius: 50%;
    z-index: 2;
    position: relative;
}

.image-with-number img {
    z-index: 1;
    position: relative;
    top: -12.5px;
    left: 12.5px;
}

.image-with-number .number > span {
    position: absolute;
    top: 4px;
    left: 9px;
    font-size: 15px;
    color: #fff;
}

.trending-posts .col-8 {
    position: relative;
    margin-top: 12.5px;
}

/* follow us */

.follow-us {
    overflow: auto;
    width: 100%;
}

.follow-us .wrapper {
    float: left;
    margin-right: 15px;
    position: relative;
}

.follow-us .wrapper .number {
    display: block;
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-size: 12px;
}

.follow-us .wrapper a {
    position: relative;
    display: block;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
}

.follow-us .wrapper a:hover {
    border: 1px solid #f13543;
}

.follow-us .wrapper a i {
    position: relative;
    left: 10px;
    top: 10px;
}

/* instagram widget */

.instagram-widget img {
    border-radius: 4px;
}

/* most commented */

.most-commented img {
    border-radius: 4px;
    margin-bottom: 10px;
}

/* hightlight section */

.highlight-section {
    background-color: #fcf6f6;
    margin-top: 30px;
}

.highlight-section .buttons {
    margin-top: 70px;
    margin-bottom: 50px;
}

.highlight-section .buttons a {
    color: #999b9a;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 3px;
    margin-right: 20px;
}

.highlight-section .buttons a.selected {
    background-color: #f0e6e4;
    color: #0b0b0b;
}

/* footer */

footer {
    padding-top: 40px;
    margin-top: 50px;
    background-color: #fafafa;
    text-align: center;
}

footer .instagram {
    text-transform: uppercase;
    font-family: futura-pt, sans-serif;
}

footer .instagram h1 {
    font-size: 14px;
    font-weight: 100;
}

footer .instagram h1 {
    font-size: 16px;
    font-weight: 100;
}

footer .instagram-images {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;
    justify-content: center;
    overflow: hidden;
}

footer .instagram-images .image {
    position: relative;
}

footer .instagram-images .text {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: #fff;
    display: none;
}

footer .instagram-images .text > div {
    display: inline;
    margin-right: 25px;
}

footer .instagram-images .image:hover img {
    filter: brightness(30%);
}

footer .instagram-images .image:hover .text {
    display: block;
}

footer .subscribe {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

footer .subscribe h1 {
    text-transform: uppercase;
    font-size : 18px;
    font-family: futura-pt, sans-serif;
}

footer .subscribe input {
    width: 430px;
}

footer .social {
    margin-top: 30px;
    margin-bottom: 60px;
}

footer .social .item i {
    margin-right: 10px;
}

footer .social .item {
    display: inline;
    text-transform: uppercase;
    font-family: futura-pt, sans-serif;
    font-size: 12px;
    margin-right: 30px;
    font-weight: 600;
}

footer .copyright {
    background-color: #f4f2f3;
}

footer .copyright > .content {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 30px 0px;
}

footer .copyright p {
    margin: auto;
    color: #0a0a0a;
}

.go-up-button {
    bottom: 60px;
    right: 40px;
    position: fixed;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #242424;
    box-shadow: 0px 0px 20px 1px #aaa;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
}

.go-up-button i {
    margin: auto;
    top: 5px;
    color: #232323;
    font-size: 11px;
}

.go-up-button:hover i {
    color: #888;
}

footer .copyright .copyright-link {
    margin-right: 12px;
    text-transform: uppercase;
    font-size: 13px;
}

/* pager */

.pager {
    display: flex;
    justify-content: center;
}

.pager ul {
    margin: auto;
    display: inline-block;
}

.pager ul li {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 10px;
}

.pager ul li a {
    position: relative;
    top: 10px;
    left: 13px;
}

.pager ul li.selected {
    color: #fff;
    background-color: #f13543;
}

.pager ul li.selected a {
    color: #fff;
}

/* banner */
.banner {
    margin-top: 20px;
}

.banner img {
    border-radius: 4px;
}

/* typography */

.content-with-text * {
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
    font-family: "LibreBaskerville";
}

.content-with-text h1 { font-size: 25px; font-family: futura-pt, sans-serif; }
.content-with-text h2 { font-size: 23px; font-family: futura-pt, sans-serif; }
.content-with-text h3 { font-size: 21px; font-family: futura-pt, sans-serif; }
.content-with-text h4 { font-size: 19px; font-family: futura-pt, sans-serif; }
.content-with-text h5 { font-size: 17px; font-family: futura-pt, sans-serif; }
.content-with-text h6 { font-size: 16px; font-family: futura-pt, sans-serif; }
.content-with-text p { margin-bottom: 55px; }

.content-with-text ol,
.content-with-text ul {
    padding-left: 15px;
    font-family: "LibreBaskerville";
    margin: 40px 0px;
}

.content-with-text ol li,
.content-with-text ul li {
    margin-bottom: 20px;
}

.content-with-text pre {
    background-color: #eee;
    border-radius: 3px;
    padding: 15px;
}

.content-with-text b,
.content-with-text strong {
    font-family: "LibreBaskerville-Bold";
    color: #f13543;
}

/* page heading */

.heading-wrapper {
    background-color: #fafafa;
}

.heading {
    position: relative;
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heading h1 {
    z-index: 2;
    margin: 0;
    font-size: 20px;
}

.heading h1.in-background {
    z-index: 1;
    position: absolute;
    top: 10px;
    left: -10px;
    font-size: 50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f2f2f2;
    color: #fafafa;
}

.heading a {
    margin: 0px 10px;
    text-transform: uppercase;
    font-size: 14px;
}

.heading i {
    font-size: 13px;
}

/* 404 page */

.content-404 { margin: 130px auto; }
.content-404 h1 { font-size: 45px; }
.content-404 h2 { font-size: 14px; }
.content-404 button { padding: 10px 70px; font-size: 10px; text-transform: uppercase; font-weight: 500; }
.content-404 p { margin-bottom: 10px; }

/* contact page */
#map { width: 100%; height: 300px; }
.input-full-width { width: 100%; }
.input-label { text-transform: uppercase; font-size: 16px; margin: 10px 0px; display: block; }
#contact-form { margin-top: 100px; margin-bottom: 100px; }
.full-width { width: 100%; }
.contact-background {
    width: 100%;
    height: 500px;
    background: url(../img/contact-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact-banner { background-color: #fff; position: relative; top: -120px; box-shadow: 0px 0px 30px #ccc; }
.contact-banner-item { padding: 25px 45px; margin: 45px 0px; border-right: 1px solid #ddd; height: 100%; display: block; }
.contact-banner-item-last { border-right: 0px; }
.contact-img { max-height: 80px; }
.contact-banner-item p { font-size: 15px; }
.full-height { height: 100%; }

/* post */
.post { margin-top: 30px; padding-right: 90px; }
.post .title { font-size: 25px; }
.post .h-space { height: 30px; }
.full-width { width: 100%; }
.labeled-image { display: flex; flex-direction: column; align-items: center; }
.labeled-image img { width: 80%; }
.labeled-image p { color: #aaa; }
.width-half { width: 50%; }
.float-left { float: left; padding-right: 20px; }

.post-tags-wrapper { 
    display: flex;
    justify-content: space-between; 
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.post-tags-wrapper a { 
    display: inline-block;
    border-radius: 3px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 14px;
}

.post-tags-wrapper .post-tags a { 
    border: 1px solid #eee;
    color: #aaa;
}

.post-tags-wrapper a.likes { 
    border: 1px solid #f13543;
    color: #f13543;
}

.post-share h1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
}

.post-share { padding: 15px 0px; padding-bottom: 35px; margin-bottom: 35px; border-bottom: 1px solid #eee; }
.share-buttons .shares { padding: 15px 0px; font-size: 13px; display: flex; align-items: center; color: #888; }
.share-buttons .shares .shares-number { font-size: 24px; margin-right: 10px; color: #000; }
.share-buttons button { background-color: #ddd; color: #000; font-size: 14px; text-transform: uppercase; }
.share-buttons button:hover { color: #fff; }
.share-buttons button.share-facebook:hover { background-color: #3b5999; }
.share-buttons button.share-twitter:hover { background-color: #1DA1F2; }
.share-buttons button.share-pinterest:hover { background-color: #c8232c; }
.share-buttons button.share-plus:hover { background-color: #333; }

.post-author { margin-bottom: 30px; }
.post-author .post-author-img { border-radius: 50%; margin-top: 30px; }
.post-author h1 { text-transform: uppercase; font-size: 18px; font-weight: normal; }
.post-author p { font-size: 17px; line-height: 25px; color: #888; font-family: futura-pt, sans-serif; }
.post-author .post-author-share-buttons a { font-size: 17px; line-height: 25px; color: #888; margin-right: 20px; }
.post-author .post-author-share-buttons a:hover { color: #000; }

.newsletter-box { border: 2px solid #eee; border-radius: 3px; padding: 30px 15%; text-align: center; margin-bottom: 40px; }
.newsletter-box button { padding-top: 17px; padding-bottom: 17px; }
.newsletter-box h1 { font-size: 20px; font-weight: normal; }
.newsletter-box p { font-size: 14px; font-weight: normal; margin-bottom: 30px; }
.newsletter-box .newssletter-input-box p { font-size: 13px; font-weight: normal; color: #aaa; margin-top: 30px; }

.post-similar { margin-bottom: 40px; border-bottom: 1px solid #eee; padding-bottom: 30px; }
.post-similar h1 { font-size: 19px; font-weight: normal; }
.post-similar .title { font-size: 19px; }

.post-comments { margin-bottom: 40px; }
.post-comments img { border-radius: 50%; }
.post-comments h1 { font-size: 21px; font-weight: normal; }

.post-comment { margin-bottom: 40px; border-bottom: 1px solid #eee; padding-bottom: 30px; }
.post-comment .comment-header { display: flex; justify-content: space-between; }
.post-comment .comment-header .comment-author { font-weight: normal; font-size: 18px; font-family: futura-pt, sans-serif; }
.post-comment .comment-header .comment-datetime { font-weight: normal; font-size: 13px; font-family: futura-pt, sans-serif; color: #888 }
.post-comment .post-content p { font-weight: normal; font-size: 16px; font-family: futura-pt, sans-serif; line-height: 23px; color: #666; }
.post-comment .post-comment-reply { font-size: 13px; color: #f13543; }

.post-write-comment { margin-bottom: 40px; }
.post-write-comment h1 { font-size: 21px; font-weight: normal; }
.post-write-comment .input-label { font-family: futura-pt, sans-serif; font-size: 14px; }
.post-write-comment .post-save-info { margin: 20px 0px; color: #555; font-size: 16px; }
.post-write-comment button { padding: 20px 40px; font-weight: 600; font-size: 14px; }

.post-navigation { display: flex; justify-content: space-between; align-items: center; }
.post-navigation .post-navigation-item { display: flex; justify-content: space-between; align-items: center; }
.post-navigation .post-navigation-item .post-navigation-item-button {
    display: block;
    background-color: #eee;
    color: #ccc;
    padding: 15px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-weight: normal;
} 
.post-navigation .previous-post .post-navigation-item-button { margin-right: 20px; }
.post-navigation .next-post .post-navigation-item-button { margin-left: 20px; }
.post-navigation .next-post { text-align: right; }
.post-navigation .post-navigation-item .post-navigation-item-top { color: #999; font-size: 11px; }
.post-navigation .post-navigation-item .post-navigation-item-bottom { color: #111; font-size: 16px; }

/* blockquote */
blockquote { border-left: 5px solid #f13543; display: block; margin: 30px 0px; padding: 5px 30px; }
blockquote > p { font-size: 18px !important; margin-bottom: 20px !important; }
blockquote .blockquote-author { font-size: 14px; color: #aaa; display: flex; align-items: center; }
blockquote .blockquote-dash-sign { display: inline-block; width: 20px; border-bottom: 2px solid #aaa; margin-right: 10px; }
