img, p { max-width: 100%; }

.h-spacing-5 > * { padding-left: 2.5px; padding-right: 2.5px; }
/*.h-spacing-5 > *:first-child { padding-left: 0;}
.h-spacing-5 > *:last-child { padding-right: 0;}*/

.h-spacing-90 > * { padding-left: 45px; padding-right: 45px; }
/*.h-spacing-90 > *:first-child { padding-left: 0;}
.h-spacing-90 > *:last-child { padding-right: 0;}*/

.h-spacing-15 > * { padding-left: 7.5px; padding-right: 7.5px; }
/*.h-spacing-15 > *:first-child { padding-left: 0px; }
.h-spacing-15 > *:last-child { padding-right: 0px; }*/

.h-spacing-20 > * { padding-left: 10px; padding-right: 10px; }
/*.h-spacing-20 > *:first-child { padding-left: 0px; }
.h-spacing-20 > *:last-child { padding-right: 0px; }*/

.h-spacing-25 > * { padding-left: 12.5px; padding-right: 12.5px; }
/*.h-spacing-25 > *:first-child { padding-left: 0px; }
.h-spacing-25 > *:last-child { padding-right: 0px; }*/

.h-spacing-30 > * { padding-left: 15px; padding-right: 15px; }
/*.h-spacing-30 > *:first-child { padding-left: 0px; }
.h-spacing-30 > *:last-child { padding-right: 0px; }*/

.h-spacing-60 > * { padding-left: 30px; padding-right: 30px; }
/*.h-spacing-60 > *:first-child { padding-left: 0px; }
.h-spacing-60 > *:last-child { padding-right: 0px; }*/

.v-spacing-30 > .row { margin-bottom: 30px; }
.v-spacing-30 > .row:last-child { margin-bottom: 0px; }

.v-spacing-15 > .row { margin-bottom: 15px; }
.v-spacing-15 > .row:last-child { margin-bottom: 0px; }

@media screen and (max-width: 1200px) {
    .h-spacing-15 > * { padding: 0; }
    .h-spacing-25 > * { padding: 0; }
    .h-spacing-30 > * { padding: 0; }
    .h-spacing-60 > * { padding: 0; }
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}

.col-1  { width: 8.33%;  }
.col-2  { width: 16.66%; }
.col-3  { width: 25%;    }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%;    }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%;    }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%;   }

@media screen and (max-width: 1200px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%;
        margin-bottom: 10px;
    }
}

img, p { max-width: 100%; }

.row {
    z-index: 0;
    overflow: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    .letter-left, .letter-right { display: none; }
    .content { width: 90%; }
    .content-750 { width: 90%; }
    .content-1140 { width: 90%; }

    .post { padding-right: 0px; }

    .sidenav {
        width: 100%;
    }

    header nav {
        background-color: #fff;
        z-index: 4;
        position: absolute;
        top: 81px;
        left: 0;
        right: 0;
        bottom: 40%;
        display: none;
    }

    header nav > ul {
        display: block;
    }

    header nav > ul > li {
        display: block;
        margin-bottom: 10px;
    }

    header nav > ul > li > .subnav {
        top: 20px;
    }

    footer .subscribe {
        flex-direction: column;
    }

    footer .subscribe input {
        max-width: 50%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .posts-slideshow .slideshow-button {
        top: 300px;
    }

    #slideshow-button-left {
        left: 65px;
    }

    #slideshow-button-right {
        right: 65px;
    }
}

@media screen and (max-width: 900px) {
    .posts-slideshow .slideshow-button {
        top: 200px;
    }

    #slideshow-button-left {
        left: 35px;
    }

    #slideshow-button-right {
        right: 35px;
    }
}
